[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true

[alias]
        dft = difftool
        df  = diff
        st  = status
        ad  = add
        pl  = pull
        ps  = push
        co  = checkout
        br  = branch
        mg  = merge