version: '3'
services:
  db:
    image: 'postgres:15.1'
    environment:
      POSTGRES_PASSWORD: 'p@ssw0rd'
      POSTGRES_USER: 'app'
      POSTGRES_DB: 'app'
    volumes:
      - './dev/db/initdb:/docker-entrypoint-initdb.d'