{:duct.profile/base
 {:duct.core/project-ns isomorphic-clojure-webapp

  :duct.middleware.web/defaults {:cookie true
                                 :session {:flash true
                                           :cookie-attrs {:http-only true
                                                          ;;:same-site :strict
                                                          :max-age 3600}}
                                 :params {:urlencoded true
                                          :multipart true}
                                 :responses {:absolute-redirects true}} 
  
  :duct.router/reitit
  {:routes [["/" {:get #ig/ref :isomorphic-clojure-webapp.handler.app/index}]
            ["/app/*" {:get #ig/ref :isomorphic-clojure-webapp.handler.app/index}]]}

  :isomorphic-clojure-webapp.handler.app/index {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test  #duct/include "test.edn"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
